<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="has-gradient-text app-name">Kanban</h1>
      </div>
    </div>
  </div>

  <div class="board">
    <div class="board-bar">
      <p class="board-name">Board Name</p>
    </div>

    <div class="board-wrapper">
      <div class="board-columns">
        <div class="board-column">
          <div class="column-title">
            Todo
          </div>

          <div class="tasks-container">
            <div class="task">
              This is a task that i want to do
            </div>
            <div class="task">
              This is a task that i want to do
            </div>
            <div class="task">
              This is a task that i want to do just because
            </div>
          </div>
        </div>
        <div class="board-column">
          <div class="column-title">
            In progress
          </div>

          <div class="tasks-container">
            <div class="task">
              This is a task that i want to do
            </div>
            <div class="task">
              This is a task that i want to do
            </div>
            <div class="task">
              This is a task that i want to do just because
            </div>
          </div>
        </div>
        <div class="board-column">
          <div class="column-title">
            Completed
          </div>

          <div class="tasks-container">
            <div class="task">
              This is a task that i want to do
            </div>
            <div class="task">
              This is a task that i want to do
            </div>
            <div class="task">
              This is a task that i want to do just because
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
