<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="has-gradient-text app-name">Kanban</h1>
      </div>
    </div>
  </div>

  <div class="board">
    <div class="board-bar">
      <p class="board-name">Board Name</p>
    </div>

    <div class="board-wrapper">
      <div class="board-columns" cdkDropListGroup>
        <div class="board-column">
          <div class="column-title">
            Todo
          </div>

          <div class="tasks-container" cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo"
            (cdkDropListDropped)="drop($event)">
            <div class="task" *ngFor="let td of todo; let i=index" cdkDrag>
              {{td}}
            </div>
          </div>
        </div>
        <div class="board-column">
          <div class="column-title">
            In progress
          </div>

          <div class="tasks-container" cdkDropList #progressList="cdkDropList" [cdkDropListData]="inProgress"
            (cdkDropListDropped)="drop($event)">
            <div class="task" *ngFor="let inp of inProgress; let i=index" cdkDrag>
              {{inp}}
            </div>
          </div>
        </div>
        <div class="board-column">
          <div class="column-title">
            Completed
          </div>

          <div class="tasks-container" cdkDropList #doneList="cdkDropList" [cdkDropListData]="completed"
            (cdkDropListDropped)="drop($event)">
            <div class="task" *ngFor="let comp of completed; let i=index" cdkDrag>
              {{comp}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
